botToken: XXXXXX

websites:
  - name: Top.GG
    apiPath: https://top.gg/api/bots/@bot_id@/stats
    token: XXXXXX
    bodyPattern: '{"server_count": @guild_count@}'
  - name: Discords.Bots.GG
    apiPath: https://discord.bots.gg/api/v1/bots/@bot_id@/stats
    token: XXXXXX
    bodyPattern: '{"guildCount": @guild_count@}'
  - name: Discords.com
    apiPath: https://discords.com/bots/api/bot/@bot_id@
    token: XXXXXX
  - name: Dlist.GG
    apiPath: https://api.discordlist.gg/v0/bots/@bot_id@/guilds?count=@guild_count@
    token: 'Bearer XXXXXX'
    method: PUT
